/* 공통 부분 */
/* 공통 부분 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'omyu_pretty';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

/* 배경 색상 지정 */
body {
	background-color: rgb(240, 227, 216);
}

/* a태그 밑줄, 링크색 없애기 */
a {
	text-decoration: none;
	color: inherit;
}

/* 상단 레이아웃 설정 */
.top_container {
	height: 100px;
}

/* 메인 레이아웃 설정 */
.main_container {
	width: 1500px;
	height: 800px;
	background-color: rgb(128, 74, 43);
	margin: 0 auto;
	border-radius: 10px;
	padding-top:50px;
}

.main_container_box {
	width: 1400px;
	height: 700px;
	margin-left: 75px;
}

/* 좌측 레이아웃 설정 */
.left_box {
	width: 670px;
	height: 100%;
	float:left;
	position: relative;
	z-index: 3;
	background-image: url(/todolist/doc/img/graph_wallpaper.png);
	border-radius: 5px 0px 0px 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	filter:drop-shadow(5px 5px 15px rgb(36, 29, 29));
	padding: 20px;
}

.box_layout {
	width: 100%;
	height: 100%;
}

/* 우측 레이아웃 설정 */
.right_box {
	width: 670px;
	height: 100%;
	float:left;
	position: relative;
	z-index: 1;
	background-color: #FEFAEF;
	border-radius: 0px 5px 5px 0px;
	filter:drop-shadow(5px 5px 15px rgb(36, 29, 29));
	padding: 20px;
}

/* 사이드바 레이아웃 설정 */
.side_box {
	width: 40px;
	height: 100%;
	float:left;
	position: relative;
	z-index: 2;
	margin-top:10px;
}

.side_category {
	width:100%;
	height: 100px;
	border-radius: 0px 20px 20px 0px;
	margin-top:1px;
}

.bgc_cate1 {
	background-color: rgb(233, 236, 99);
}

.bgc_cate2 {
	background-color: rgb(192, 236, 99);
}

.bgc_cate3 {
	background-color: rgb(236, 140, 99);
}

.side_text {
	width: 70%;
	height: 100%;
	writing-mode: vertical-rl;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

/* 메인페이지 */
/* 메인페이지 */

/* .main_left, .main_right {
	float: left;
	width: 50%;
	height: 100%;
}

.main_img {
	width: 100%;
	height: 100%;
} */

.item {
	width: 100%;
	height: 800px;
	border:1px solid #000;
}

.item_left {
	width: 20%;
	height: 100%;
	border: 1px solid #000;
}
/* 리스트페이지 */
/* 리스트페이지 */
.left_top {
	width: 100%;
	height: 20px;
	margin-top:20px;
	letter-spacing: 2px;
}

.left_top img {
	width: 8%;
	height: 100%;
	margin-left: 210px;
}

.left_top2 {
	width: 100%;
	height: 85px;
	text-align: center;
}

.left_top2_text1 {
	font-size: 60px;
	line-height: 60px;
}

.left_top2_text2 {
	margin-top: 15px;
	font-size: 25px;
	line-height: 25px;
}

.left_middle {
	width: 100%;
	height: 230px;
	margin-top: 60px;
}
.left_bottom_layout1, .left_bottom_layout2 {
	width: 170px;
	height: 200px;
	text-align: center;
	position: relative;
}

.left_bottom_layout1 {
	float:left;
	margin: 10px 18px;
}

.left_bottom_layout1 p, .left_bottom_layout2 p {
	position: absolute;
	font-size: 24px;
	letter-spacing: 1px;
}

.left_bottom_layout1 p {
	left: 50px;
	top: 160px;
}

.left_bottom_layout2 p {
	left: 45px;
	top: 145px;
}

.left_emotion_size1 {
	width: 150px;
	height: 150px;
	background-size: cover;
	position: absolute;
	left: 10px;
}

.left_emotion_size2 {
	width: 130px;
	height: 130px;
	background-size: cover;
	position: absolute;
	left: 10px;
}

.left_star_size1 {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 95px;
	top: 100px;
}

.left_star_size2 {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 95px;
	top: 100px;
}

.left_bottom {
	width: 70%;
	height: 220px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

/* 리스트페이지- 오른쪽 페이지 */
.right_top p {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin: 20px auto;
	letter-spacing: 2px;
}

.table_cursor {
	cursor: pointer;
}

.right_table {
	width: 550px;
	margin-left: 55px;
}

.right_table img {
	width: 50px;
	height: 50px;
}
.table_tr1 {
	height: 60px;
}

.table_tr2 {
	height: 30px;
}

.table_date {
	font-size: 16px;
}

.table_title {
	font-size: 19px;
	letter-spacing: 1px;
	border-bottom: 1px solid #D5D5D5;
	vertical-align: top;
}

.table_border_none {
	border-bottom: none;
}
.right_page {
	width: 300px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.right_page_num {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	border: 1px solid #ccc;
}

/* 상세페이지 */
/* 상세페이지 */
.detail_emo {
	margin-bottom: 10px;
	width: 70px;
	height: 70px;
}

.say {
	height: 300px;
	width: 300px;
	position: absolute;
	margin-top: 20px;
	margin-left: 430px;
}

.say {
	height: 300px;
	width: 300px;
	position: absolute;
	margin-top: 20px;
	margin-left: 430px;
}

.calender {
    z-index: 1;
    position: absolute;
    margin: 0 0 0 10px;
    background-repeat: no-repeat;
    background-image: url(/todolist/doc/img/detail_calender.png);
    background-size: 80%;
    width: 420px;
    height: 550px;
}
.detail_img {
    position: absolute;
    margin: 230px 0 0 300px;
    background-repeat: no-repeat;
    background-image: url(/todolist/doc/img/detail_img.png);
    background-size: 80%;
    width: 370px;
    height: 420px;
}
.chklist {
	position: absolute;
    margin: 400px 0 0 130px;
    background-repeat: no-repeat;
    background-image: url(/todolist/doc/img/detail_chklist.png);
    background-size: 90%;
    width: 380px;
    height: 270px;
}

/* 삽입페이지 */
/* 삽입페이지 */
.post_it{
	text-align: center;
	width: 400px;
	height: 470px;
	margin: 40px auto;
	background-image: url("/todolist/doc/img/postit.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.emoticon_1 {
	padding-top: 100px;
}

.emo {
	width: 80px;
	height: 80px;
	margin: 10px 20px;
}

/* 감정표현 호버효과 */
.emoticon_2 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.emoticon_2:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.emoticon_2:visited img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} /* #으로 링크되어 있는 주소에서 a:visited 스타일 적용 안됨/반드시 css 확인할 것 */

.date {
	width: 400px;
	height: 150px;
	padding: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	vertical-align:middle;
	border: none;
}

.align_center {
	text-align: center;	
}

.align_center_txt {
	font-size: 40px;
}

.align_center_date {
	font-size: 27px;
}

.flower {
	margin-bottom: 10px;
	width: 60px;
	height: 70px;
}

.textarea_1 {
	width: 400px;
	height: 50px;
	padding: 20px;
	background-color: #e6dfd4;
	box-sizing: border-box;
	border-radius: 10px;	
	resize: none;
	vertical-align:middle;
	border: none;
	font-size: 25px;
}

.textarea_1:focus {
	outline: none;
}

.textarea_2 {	
	width: 400px;
	height: 400px;
	padding: 20px;
	background-color: #e6dfd4;
	box-sizing: border-box;
	border-radius: 10px;	
	resize: none;
	vertical-align:middle;
	border: none;
	font-size: 20px;
}

.textarea_2:focus {
	outline: none;
}

/* 삭제페이지 */
.delete_emo {
	margin-bottom: 10px;
	width: 70px;
	height: 70px;
}

.align_center_txt_red  {
	color: red;
	font-size: 40px;
}
.align_center_txt_del {
	font-size: 40px;
}

.delete_img_center {
	text-align: center;
}

.delete_img {
	margin-top: 145px;
    margin-bottom: 60px;
    width: 280px;
    height: 65px;
}